<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create podcast</title>
    </head>
    <body>
        <h1>Создание подкаста</h1>
        <div>
                <p>
                    <label for="title">Название:</label>
                    <input type="text" id="title" name="title"/>
                </p>
                <p>
                    <label>Описание:</label>
                    <textarea placeholder='Введите описание...' rows="5" cols="33"></textarea>
                </p>

                <p>
                    <label for="file">Файл:</label>
                    <input type="file" id="file" name="file"/>
                </p>
                <button type="submit">Опубликовать</button>
        </div>
    </body>
</html>